<?xml version='1.0' encoding='utf-8'?>
<widget 
	id		="com.markmcd.froggo" 
	version		="1.0.0" 
	xmlns		="http://www.w3.org/ns/widgets" 
	xmlns:cdv	="http://cordova.apache.org/ns/1.0">
 
  	 <name>froggo</name>

    	<description>
        ribbit ribbit ribbit
   	</description>

	<content src="index.html" />
	<preference name="FullScreen" value="true" />
    	<preference name="DisallowOverscroll" value="true"/>
	<preference name="Orientation" value="portrait"/>
</widget>
